.smallicon .btn ::ng-deep svg {
    height: 0.8rem;
    width: 0.8rem;
    stroke-width: 0.18rem;
}

.smallicon .sclass {
    padding: 0.25rem 0.5rem !important;
}

.smallicon .btn {
    font-size: 0.85rem;
}