<app-advance-title-head-new [showForm]="'true'" btnVal="Search" [titleText]="'Call Request'" [dynamicForm]="dynamicControls" (onSubmitForm)="getSearchQuery($event)"></app-advance-title-head-new>
<div class="card" style="margin: 10px;padding: 1rem;">
  <app-advance-table-paginator posn="top" [DataLoader]="apiLoader.crc_list" [paginatorBlock]="paginatorBlock" [pageNo]="currentQuery.PageNo" [rowCount]="rowCount" [pageCount]="pageCount" [selectedPageCount]="currentQuery.PageSize" [pagesTotal]="pagesTotal" (onPaginatorChange)="onPaginatorChange($event)"></app-advance-table-paginator>
  <app-advance-table [DataLoader]="apiLoader.crc_list" [rowCount]="rowCount" [TableCollumnData]="UserDataCollumns" [TableData]="CallRequestinfoData" (onInputChange)="onValueChange($event)"></app-advance-table>
  <app-advance-table-paginator posn="bottom" [DataLoader]="apiLoader.crc_list" [paginatorBlock]="paginatorBlock" [pageNo]="currentQuery.PageNo" [rowCount]="rowCount" [pageCount]="pageCount" [selectedPageCount]="currentQuery.PageSize" [pagesTotal]="pagesTotal" (onPaginatorChange)="onPaginatorChange($event)"></app-advance-table-paginator>
</div>
<ng-template #CallRequestCompletePopUp>
  <app-call-request-complete [rowData]="udataToView" (onSave)="onSavePopup()"></app-call-request-complete>
</ng-template>
<ng-template #statusChange>
  <app-confirm-box [rowData]="udataToView" (onCancel)="onClose()"></app-confirm-box>
</ng-template>