.font7{
    font-size: 0.9rem;
    vertical-align: top;
    margin-top: 0.45rem;
    font-weight: 500;
  }
  
  .mr-toprem{
    // margin-top: 0.45rem;
      margin-top: 0.91rem;

    }
  
  .multi-input ::ng-deep .mat-form-field-wrapper{
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
  
  .multi-input ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
    border-top: 0rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  
  .multi-input ::ng-deep .mat-form-field-label-wrapper {
    top: 0rem!important;
    padding-top: 0rem !important;
  }
  
  .multi-input ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
    top: 0% !important;
  }
  
  .multi-input ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
   margin-top: 0rem !important;
  }
  
  .multi-input ::ng-deep input.mat-input-element{
    margin-top: 0rem !important;
  }
  
  .multi-input ::ng-deep .mat-form-field{
    line-height: 2rem;
  }
  
  .multi-input ::ng-deep .mat-form-field-wrapper{
    margin-bottom: 0rem;
  }
  
  .mr-toprem ::ng-deep .mat-form-field-label-wrapper{
    top: 0rem !important;
    padding: 0rem !important;
  }
  
  .multi-input .mat-date-range-input-inner,.multi-input ::ng-deep .mat-button,.multi-input ::ng-deep .mat-calendar,.multi-input  .mat-option,.multi-input  .mat-select,.multi-input  .mat-input-element{
    font-family: "BeVietnamPro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
  }
  
  .multi-input .mat-form-field{
    font-size: 0.8rem;
  }
  
  .multi-input ::ng-deep .mat-date-range-input-mirror{
    min-width: 5rem !important;
  }
  
  .multi-input ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
    margin-top: 0rem !important;
  }
  
  .font-thead{
    font-weight: bolder;
    font-size: 1.2rem;
  }
  
  .font-subhead{
    font-weight: bolder;
    font-size: 1.1rem;
  }