.downloadBtn{
    color: #1c84ee;
    width: 1.2rem;
    height: 1.2rem;
    transform: translate(0rem, -0.1rem);
  }
  
  .hover-pointer:hover{
    color: #1c84ee;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .mr-rightrem{
    margin-right: 0.75rem;
  }