<div class="popupCard">
    <span class="popupClose" mat-dialog-close><i class="fa fa-times"></i></span>
    <div class="popupHead">
        <span >Update Assigning User<span style="font-weight: bold;">{{userData.FName}} {{userData.LName}}</span> </span>
    </div>
    <div class="odwform">
        <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <mat-label>Description</mat-label>
                    <mat-form-field style="width: 100%;" appearance="outline">
                        <textarea matInput formControlName="Remark"></textarea>
                    </mat-form-field> -->
                    <mat-label>Admin</mat-label>
				<mat-form-field style="width: 100%;" appearance="outline">
					<mat-select formControlName="SupportAdminId">
                        <mat-option value="">Select</mat-option>
						<ng-container *ngFor="let option of adminData">
							<mat-option [value]="option.Id">{{option.FName +' '+ option.LName}}</mat-option>
						</ng-container>
					</mat-select>
				</mat-form-field>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="button" class="mbutton btn btn-primary font7" type="submit" [disabled]="submitDisabled">Update <i *ngIf="submitDisabled" class="fa fa-sync fa-spin"></i></button>
                <button type="button" class="mbutton btn btn-primary font7" mat-dialog-close>Cancel</button>
            </div>
        </form>
    </div>
</div>