<div class="popupCard">
    <span class="popupClose" mat-dialog-close><i class="fa fa-times"></i></span>
    <div class="popupHead">
        <span >Update Assigning User<span style="font-weight: bold;">{{userData.FName}} {{userData.LName}}</span> </span>
    </div>
    <div class="odwform">
        
        <iframe src="https://bdupiuat.paytoononline.com/Callingv1/call.htm?Diresu=3&Edocetis=wbj&Phone=9167045049&cntryCode=91" height="200" width="300" title="Iframe Example"></iframe>
    </div>
</div>