<div class="popupCard">
	<span class="popupClose" mat-dialog-close><i class="fa fa-times"></i></span>
	<div class="popupHead">
		<span> Add New Language </span>
	</div>
	<form [formGroup]="addLang"  (ngSubmit)="onSubmit()">
		<div class="row admin-add">
			<div class="col-sm-6">
				<mat-label>Api Errorcode</mat-label>
				<mat-form-field style="width: 100%;" appearance="outline">
					<input matInput formControlName="APIErrorCode" type="number">
					<mat-error *ngIf="addLang.controls['APIErrorCode'].hasError('required')">This field is mandatory.</mat-error>
				</mat-form-field>
			</div>
			<div class="col-sm-6">
				<mat-label>Language Code</mat-label>
				<mat-form-field style="width: 100%;" appearance="outline">
					<!-- <input matInput formControlName="LanguageCode" >
					<mat-error *ngIf="addLang.controls['LanguageCode'].hasError('required')">This field is mandatory.</mat-error> -->
                    <mat-select   formControlName="LanguageCode">
                        <mat-option value="">Choose Option</mat-option>
                        <mat-option value="en">English</mat-option>
                        <mat-option value="bn">Bangla</mat-option>
                        <mat-option value="be">Binglish</mat-option>
                      </mat-select>
                      <mat-error *ngIf="addLang.controls['LanguageCode'].hasError('required')">This field is mandatory.</mat-error> 
				</mat-form-field>
			</div>
			<div class="col-sm-6">
				<mat-label>ErrorMessage</mat-label>
				<mat-form-field style="width: 100%;" appearance="outline">
					<textarea matInput formControlName="ErrorMessage"></textarea>
					<mat-error *ngIf="addLang.controls['ErrorMessage'].hasError('required')">This field is mandatory.</mat-error>
				</mat-form-field>
			</div>
		
		</div>
		<div style="text-align: center;">
			<div *ngIf="adminPass" class="font7" style="margin: 1rem;">{{adminPass}}</div>
			<button type="button" class="mbutton btn btn-primary font7" mat-dialog-close (click)="onBack()">{{adminPass.length>0?'Close':'Cancel'}}</button>
			<button type="button" class="mbutton btn btn-primary font7" type="submit" [disabled]="submitDisabled || adminPass.length>0">Submit <i *ngIf="submitDisabled" class="fa fa-sync fa-spin"></i></button>
		</div>
	</form>
</div>