<app-title-header [titleText]="'Reel ' + reelName" [startEndDates]="dateValue" [maxDate]="todayDate" [searchButton]="true" (onSearch)="searchPagesData($event)"></app-title-header>
<p style="padding-left: 0.6rem;opacity: 0.7;">{{' (' + pageName + ')'}}</p>
<div class="card" style="margin: 10px;padding: 1rem;">
    <app-advance-table [DataLoader]="apiLoader.udl_list" [rowCount]="rowCount" [TableCollumnData]="rHistoryCollumns" [TableData]="PageRows"></app-advance-table>
    <app-advance-table-paginator [DataLoader]="apiLoader.udl_list" [paginatorBlock]="paginatorBlock" [pageNo]="currentQuery.PageNo" [rowCount]="rowCount" [pageCount]="pageCount" [selectedPageCount]="currentQuery.PageSize" [pagesTotal]="pagesTotal" (onPaginatorChange)="onPaginatorChange($event)"></app-advance-table-paginator>
</div>